// page bg color
$body-bg: rgb(236, 236, 236);
// change primary color
$theme-colors: (
  "primary": #810181
);
// disable rounded
$enable-rounded: false;

@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100%;
  overflow: hidden;
}

.h-9x {
  height: calc(100% - #{$spacer} * 2);
}

.mw-settings {
  width: 22rem;
}

.flex-grow-9x {
  flex-grow: .98;
}

.input-dimensionality label {
  width: 4rem;
}

$height-1d: 15%;
$height-2d: 25%;
$height-3d: 35%;

.h-1d {
  height: $height-1d;
}
.h-2d {
  height: $height-2d;
}
.h-3d {
  height: $height-3d;
}

.h-1d-rest {
  height: calc(100% - #{$height-1d});
}

.h-2d-rest {
  height: calc(100% - #{$height-2d});
}

.h-3d-rest {
  height: calc(100% - #{$height-3d});
}

.h-any {
  height: 300px;
}

.w-any {
  width: 300px;
}

.overflow-x-auto {
  overflow-x: auto;
}

.box {
  height: 16px;
  width: 16px;
  display: inline-block;
  margin: 1px;
}

.box-small {
  height: 10px !important;
  width: 10px !important;
}

.box-row {
  text-align: center;
  line-height: .8;
  white-space: nowrap;
}

.box-kernel {
  background-color: #810081;
}

.box-padding {
  background-color: #8d8d8d !important;
}

.box-input {
  background-color: #006e60;
  opacity: .5;
}

.box-output {
  background-color: #002792;
  opacity: .5;
}

.box-active {
  opacity: 1 !important;
}
